$pink: #FA7268;
$opink: rgba(250, 114, 104, 0.9);
$yellow: #FBC52F;
$bluePurple: rgba(135, 142, 235, 0.8);
$bluePurpleOp: rgba(135, 142, 235, 0.5);
$red: rgba(249, 126, 117, 0.8);
$redOp: rgba(249, 126, 117, 0.5);
$green: rgba(119, 223, 206, 0.8);
$greenOp: rgba(119, 223, 206, 0.5);
$purple: rgba(143, 98, 204, 0.8);
$purpleOp: rgba(143, 98, 204, 0.5);
$sea: #d7f6ff;
$hardPurple: #8B52BE;
$hardGreen: #35E29E;
$hardBlue: #82D6EF;
$hardPink: rgba(110, 48, 121, 0.7);
$grey: #222025;
$lightGrey: #f1f1f1;
$darkWhite: #f7f7f9;
