$pink: #FA7268;
$opink: rgba(250, 114, 104, 0.9);
$yellow: #FBC52F;
$bluePurple: #BCC0F4;
$red: #F3AFAA;
$green: #B3EDE4;
$purple: #9064CD;
$sea: #d7f6ff;
$hardPurple: #8B52BE;
$hardGreen: #35E29E;
$hardBlue: #82D6EF;
$hardPink: rgba(110, 48, 121, 0.7);
$grey: #222025;
$lightGrey: #f1f1f1;
$darkWhite: #f7f7f9;
