@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../../font/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "Muli";
	font-style: normal;
	font-weight: 400;
	src: url("../../font/Muli-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Muli";
	font-style: normal;
	font-weight: 600;
	src: url("../../font/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: url("../../font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Heebo";
	font-style: normal;
	font-weight: 700;
	src: url("../../font/Heebo-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Josefin";
	font-style: normal;
	font-weight: 700;
	src: url("../../font/JosefinSans-SemiBold.ttf") format("truetype");
}
