.intro {
  padding: {
    top: 150px;
    bottom: 150px - 80px;
  }
  display: flex;
  justify-content: center;


  &-sidebar {
    width: 360px;
    height: 620px;
    border: 8px solid $pink;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar-content {
    position: absolute;
    background-color: white;
    padding: {
      top: 50px;
      bottom: 50px;
    }
    width: 340px;
    left: 60px;
  }

  &-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 58px;
  }

  &-content {
    font-family: "Muli";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  &-port {
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-column-gap: 50px;
    // grid-row-gap: 80px;
    margin-left: 150px;
    display: flex;

  }
}

.port {

  width: 310px;
  height: 315px;
  margin-bottom: 80px;
  position: relative;

  img {
    width: 310px;
  }

  &-left{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-top: 80px;
  }

  &-opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .blue {
    background-color: $bluePurpleOp;
    &:hover {
      background-color: $bluePurple;
      transition: background-color 1s;
    }
  }

  .red {
    background-color: $redOp;
    &:hover {
      background-color: $red;
      transition: background-color 1s;
    }
  }

  .green {
    background-color: $greenOp;
    &:hover {
      background-color: $green;
      transition: background-color 1s;
    }
  }

  .purple {
    background-color: $purpleOp;
    &:hover {
      background-color: $purple;
      transition: background-color 1s;
    }
  }

  &-name {
    position: absolute;
    bottom: 60px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 19px;
    color: white;
    padding-left: 20px;
  }

  &-position {
    position: absolute;
    bottom: 35px;
    font-family: "Muli";
    font-weight: 400;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    padding-left: 20px;
  }
}

.intro2 {
  padding: {
    top: 120px;
    bottom: 120px;
  }
  display: flex;
  justify-content: center;

  &-about {
    width: 360px;
  }

  &-mission {
    width: 360px;
    margin: {
      left: 60px;
      right: 60px;
    }
  }

  &-skill {
    width: 360px;
  }

  &-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 35px;
  }

  &-content {
    font-family: "Muli";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  width: 100%;
}

.intro-progress {
  height: 32px;
  background-color: $lightGrey;

}

.pg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    left: 10px;
    right: 10px;
  }
  height: 100%;
  color: white;

  &-orange {
    background-color: $pink;
    width: 50%;
    transition: width 2s;
  }

  &-purple {
    background-color: $hardPurple;
    width: 50%;
    transition: width 2s;
  }

  &-green {
    background-color: $hardGreen;
    width: 50%;
    transition: width 2s;
  }

  &-blue {
    background-color: $hardBlue;
    width: 50%;
    transition: width 2s;
  }
}

.service {
  padding-top: 120px;

  &-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 90px;
    text-align: center;
  }

  &-center {
    display: flex;
    justify-content: center;

  }

  &-opt {
    display: grid;
    grid-template-columns: auto auto auto;
    .center {
      margin: {
        left: 90px;
        right: 90px;
      }
    }
  }

  &-item {
    width: 330px;
    text-align: center;
    padding-bottom: 100px;
    font-size: 15px;
    color: #222025;
  }
}

.item {
  &-img {
    img {
      width: 60px;
    }
    padding-bottom: 30px;
  }

  &-title {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 20px;
  }

  &-content {
    font-family: "Muli";
    font-weight: 400;
    line-height: 24px;
  }
}

.intro3 {
  padding: {
    top: 120px;
    bottom: 90px;
  }
  text-align: center;

  &-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
  }

  &-ava {
    padding: {
      top: 50px;
    }
    img {
      border-radius: 50%;
      box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.57);
      border: 2px solid white;
    }
  }

  &-content {
    padding: {
      top: 25px;
    }
    margin: auto;
    font-family: "Muli";
    font-weight: 400;
    font-size: 20px;
    width: 600px;
    line-height: 35px;
  }

  &-name {
    padding: {
      top: 25px;
    }
    font-family: "Muli";
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }
}
