html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../../font/Muli-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../../font/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/Heebo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/JosefinSans-SemiBold.ttf") format("truetype");
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu .logo {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.menu-opt {
  display: flex;
}

.menu-item {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 81px;
}

.menu-item:hover {
  color: #FA7268;
}

.menu-shop {
  display: flex;
  padding-right: 20px;
  line-height: 81px;
}

.menu-item1 {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item1 img {
  width: 20px;
}

.banner {
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  text-align: center;
  background-image: url("../../img/wallpaper2.jpg");
  background-position: center;
  background-position-y: top;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  font-size: 190px;
}

.banner-subtitle {
  font-size: 38px;
}

.banner2 {
  background-image: url("../../img/pagetitle.png");
  background-position: center;
  background-position-y: top;
  background-size: cover;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
}

.banner2-title {
  font-size: 70px;
  color: white;
}

.banner2-button {
  color: #d7f6ff;
  font-size: 14px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #d7f6ff;
  border-radius: 30px;
  width: 250px;
}

.banner3 {
  background-color: #f7f7f9;
}

.banner3-title {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Heebo";
  font-weight: 700;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.banner3-const {
  color: black;
  padding-right: 5px;
}

.banner3-animation {
  color: white;
  background: #FA7268;
  width: 400px;
  text-align: center;
}

.banner4 {
  display: grid;
  display: grid;
  grid-template-columns: auto auto auto;
}

.banner4-img {
  position: relative;
}

.banner4-img:hover .mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.background img {
  width: 100%;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  color: white;
  background-color: rgba(250, 114, 104, 0.9);
  display: none;
}

.mask-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
}

.mask-content {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
}

.banner5-center {
  background-image: url("../../img/graphics8.jpg");
  background-position-y: top;
  background-size: cover;
  height: 420px;
}

.banner5-background {
  background-color: rgba(110, 48, 121, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.banner5 {
  display: flex;
  justify-content: center;
  color: white;
}

.banner5 .center {
  margin-left: 200px;
  margin-right: 200px;
}

.banner5 .center .item-content {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
}

.banner5-item {
  text-align: center;
}

.banner5-item .item-number {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

.banner5-item .item-name {
  font-family: "Josefin";
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 50px;
}

.banner5-item .item-content {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
}

.contact-center {
  height: 430px;
  background-image: url("../../img/footer-bg.jpg");
  background-position-y: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FA7268;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact-img img {
  width: 30px;
}

.contact-item {
  text-align: center;
}

.contact-title {
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-phone, .contact-address, .contact-email {
  padding-bottom: 6px;
}

.intro {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.intro-sidebar {
  width: 360px;
  height: 620px;
  border: 8px solid #FA7268;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .sidebar-content {
  position: absolute;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 340px;
  left: 60px;
}

.intro-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 58px;
}

.intro-content {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.intro-port {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  margin-left: 150px;
}

.port {
  width: 310px;
  height: 315px;
  position: relative;
}

.port img {
  width: 310px;
}

.port-name {
  position: absolute;
  bottom: 60px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 19px;
  color: white;
  padding-left: 20px;
}

.port-position {
  position: absolute;
  bottom: 35px;
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  color: grey;
  padding-left: 20px;
}

.intro2 {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.intro2-about {
  width: 360px;
}

.intro2-mission {
  width: 360px;
  margin-left: 60px;
  margin-right: 60px;
}

.intro2-skill {
  width: 360px;
}

.intro2-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 35px;
}

.intro2-content {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  width: 100%;
}

.intro-progress {
  height: 32px;
  background-color: #f1f1f1;
}

.pg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  color: white;
}

.pg-orange {
  background-color: #FA7268;
  width: 95%;
}

.pg-purple {
  background-color: #8B52BE;
  width: 85%;
}

.pg-green {
  background-color: #35E29E;
  width: 75%;
}

.pg-blue {
  background-color: #82D6EF;
  width: 55%;
}

.service {
  padding-top: 120px;
}

.service-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 90px;
  text-align: center;
}

.service-center {
  display: flex;
  justify-content: center;
}

.service-opt {
  display: grid;
  grid-template-columns: auto auto auto;
}

.service-opt .center {
  margin-left: 90px;
  margin-right: 90px;
}

.service-item {
  width: 330px;
  text-align: center;
  padding-bottom: 100px;
  font-size: 15px;
  color: #222025;
}

.item-img {
  padding-bottom: 30px;
}

.item-img img {
  width: 60px;
}

.item-title {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 20px;
}

.item-content {
  font-family: "Muli";
  font-weight: 400;
  line-height: 24px;
}

.intro3 {
  padding-top: 120px;
  padding-bottom: 90px;
  text-align: center;
}

.intro3-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
}

.intro3-ava {
  padding-top: 50px;
}

.intro3-ava img {
  border-radius: 50%;
  box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.57);
  border: 2px solid white;
}

.intro3-content {
  padding-top: 25px;
  margin: auto;
  font-family: "Muli";
  font-weight: 400;
  font-size: 20px;
  width: 600px;
  line-height: 35px;
}

.intro3-name {
  padding-top: 25px;
  font-family: "Muli";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.footer {
  padding-top: 200px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.social-item {
  padding-left: 10px;
  padding-right: 10px;
}

.social-item img {
  width: 20px;
}

.copyright {
  padding-top: 20px;
  font-family: "Muli";
  font-weight: 400;
  font-size: 15px;
}

/*# sourceMappingURL=main.css.map */
