html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../../font/Muli-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../../font/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/Heebo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/JosefinSans-SemiBold.ttf") format("truetype");
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu .logo {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.menu-opt {
  display: flex;
}

.menu-item {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 81px;
}

.menu-item:hover {
  color: #FA7268;
}

.menu-shop {
  display: flex;
  padding-right: 20px;
  line-height: 81px;
}

.menu-item1 {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item1 img {
  width: 20px;
}

.banner {
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  text-align: center;
  background-image: url("../../img/wallpaper2.jpg");
  background-position: center;
  background-position-y: top;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  font-size: 190px;
}

.banner-subtitle {
  font-size: 38px;
}

.banner2 {
  background-image: url("../../img/pagetitle.png");
  background-position: center;
  background-position-y: top;
  background-size: cover;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
}

.banner2-title {
  font-size: 70px;
  color: white;
}

.banner2-button {
  color: #d7f6ff;
  font-size: 14px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #d7f6ff;
  border-radius: 30px;
  width: 250px;
}

.intro {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.intro-sidebar {
  width: 360px;
  height: 620px;
  border: 8px solid #FA7268;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .sidebar-content {
  position: absolute;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 340px;
  left: 60px;
}

.intro-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 58px;
}

.intro-content {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.intro-port {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  margin-left: 150px;
}

.port {
  width: 310px;
  height: 315px;
  position: relative;
}

.port img {
  width: 310px;
}

.port-name {
  position: absolute;
  bottom: 60px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 19px;
  color: white;
  padding-left: 20px;
}

.port-position {
  position: absolute;
  bottom: 35px;
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  color: grey;
  padding-left: 20px;
}

.intro2 {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.intro2-about {
  width: 360px;
}

.intro2-mission {
  width: 360px;
  margin-left: 60px;
  margin-right: 60px;
}

.intro2-skill {
  width: 360px;
}

.intro2-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 35px;
}

.intro2-content {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  width: 100%;
}

.intro-progress {
  height: 32px;
  background-color: #f1f1f1;
}

.pg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.pg-orange {
  background-color: #FA7268;
  width: 95%;
}

.pg-purple {
  background-color: #8B52BE;
  width: 85%;
}

.pg-green {
  background-color: #35E29E;
  width: 75%;
}

.pg-blue {
  background-color: #82D6EF;
  width: 55%;
}

/*# sourceMappingURL=main.css.map */
